body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;


}


html,body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.statistic {
  width: 100%;
  background: #202020;
}


