@mixin d-f-jc-c-ai-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin d-f-jc-sb-ai-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin ml12 {
  margin-left: 12px;
}

@mixin p120 {

  padding-bottom: 120px;
}

@mixin p101p0 {
  padding: 101px 0;}

@mixin pseudographics{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

